.main-container {
  border: 1px solid red;
  padding: 10px;
  font-size: 20px;
}

.main-card {
  display: flex;
  flex-direction: column;

  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  text-align: center;
}

.main-card-content {
  padding: 10px 10px 60px 10px;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  order: 3;
}

.main-card-logo {
  padding: 50px 15px;
  order: 1;
}


.main-card-content h1 {
  font-size: 1em;

  margin-bottom: 15px;
  width: 260px;
}

.main-card-content p {
  font-size: 0.7em;
  color: #9E9E9E;

  margin-bottom: 33px;
  width: 260px;
}

.main-card-logo svg {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .main-container {
    padding: 15px;
    font-size: 40px;
  }

  .main-card-content h1 {
    margin-bottom: 20px;
    font-size: 1em;
    width: 506px;
  }

  .main-card-content p {
    margin-bottom: 20px;
    font-size: 0.5em;
    width: 406px;
  }

  .main-card-content button {
    width: 506px;
  }

  .main-card-logo svg {
    width: 506px;
  }
}


@media (min-width: 768px) {
  .main-container {
    font-size: 55px;
  }

  .main-card-content {
    padding: 20px 20px 100px 20px;
  }

  .main-card-content h1 {
    width: 606px;
  }

  .main-card-content p {
    width: 606px;
  }

  .main-card-logo {
    padding: 100px 20px;
  }
}

@media (min-width: 992px) {
  .main-container {
    padding: 40px;
  }

  .main-card-content {
    padding: 20px 20px 150px 20px;
  }

  .main-card-logo {
    padding: 125px 20px;
  }

  .main-card-content h1 {
    margin-bottom: 26px;
    width: 700px;
  }

  .main-card-content p {
    margin-bottom: 47px;
    width: 700px;
  }
}
